name: Sync Code to Repo2

on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:

    # Clone Repo1 → source/
    - name: Checkout Source
      uses: actions/checkout@v4
      with:
        path: source

    # Clone Repo2 → target/
    - name: Checkout Target
      uses: actions/checkout@v4
      with:
        repository: jayakrishna2455/test2
        token: ${{ secrets.TARGET_REPO_TOKEN }}
        ref: release2
        path: target

    # Copy files except .github
    - name: Sync Files (Exclude .github)
      run: |
        rsync -av --delete \
          --exclude='.github/' \
          --filter='P .github/' \
          source/ target/

    # Commit & Push to Repo2
    - name: Commit and Push
      run: |
        cd target

        git config user.name "sync-bot"
        git config user.email "sync-bot@github.com"

        git checkout -B release2

        git add .
        git commit -m "Auto sync from Repo1 (test)" || echo "No changes"

        git push origin release2
