name: Sync Code to Repo2

on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:

    # Checkout Repo1 → source
    - name: Checkout Source
      uses: actions/checkout@v4
      with:
        path: source
        persist-credentials: false   # IMPORTANT

    # Checkout Repo2 → target (with PAT)
    - name: Checkout Target
      uses: actions/checkout@v4
      with:
        repository: jayakrishna2455/test2
        token: ${{ secrets.TARGET_REPO_TOKEN }}   # MUST be PAT
        ref: release2
        path: target
        persist-credentials: true

    # Sync (protect .github)
    - name: Sync Files (Protect .github)
      run: |
        rsync -av \
          --delete \
          --exclude='.github/' \
          --filter='P .github/' \
          source/ target/

    # Commit & Push
    - name: Commit and Push
      run: |
        cd target
    
        git config user.name "sync-bot"
        git config user.email "sync-bot@github.com"
    
        # Create or switch to release2 branch
        git checkout -B release2
    
        git status
    
        git add .
        git commit -m "Auto sync from Repo1 (test)" || echo "No changes"
    
        git push https://${{ secrets.TARGET_REPO_TOKEN }}@github.com/jayakrishna2455/test2.git release2

