name: Sync Code to Repo2

on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:

    # Clone Repo1
    - name: Checkout Source
      uses: actions/checkout@v4
      with:
        path: source
        persist-credentials: false

    # Clone Repo2
    - name: Checkout Target
      uses: actions/checkout@v4
      with:
        repository: jayakrishna2455/test2
        token: ${{ secrets.TARGET_REPO_TOKEN }}
        ref: release
        path: target
        fetch-depth: 0   # IMPORTANT

    - name: Restore .github if missing
      run: |
        if [ ! -d "target/.github" ]; then
          echo "Restoring .github from source"
          cp -r target/.github source/.github
        fi

    # Update target branch to latest
    - name: Update Target Branch
      run: |
        cd target
        git fetch origin
        git checkout release
        git pull origin release

    # Sync files (FULLY protect .github)
    - name: Sync Files (Protect .github)
      run: |
        rsync -av \
          --delete \
          source/ target/

    # Commit & Push
    - name: Commit and Push
      run: |
        cd target

        git config user.name "sync-bot"
        git config user.email "sync-bot@github.com"

        git status

        git add .

        git commit -m "Auto sync from Repo1 (test)" || echo "No changes"

        git push origin release
