name: Sync Code to Deploy Repo

on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:

    # Checkout Source Repo (Repo1)
    - name: Checkout Source
      uses: actions/checkout@v4

    # Checkout Target Repo (Repo2)
    - name: Checkout Target
      uses: actions/checkout@v4
      with:
        repository: jayakrishna2455/test2   # Repo2
        token: ${{ secrets.TARGET_REPO_TOKEN }}
        ref: release2                      # Target branch
        path: target

    # Sync files (protect .github in Repo2)
    - name: Sync Files (Exclude & Protect .github)
      run: |
        rsync -av --delete \
          --exclude='.github/' \
          --filter='P .github/' \
          ./ target/

    # Commit and Push to Repo2
    - name: Commit and Push
      run: |
        cd target

        git config user.name "sync-bot"
        git config user.email "sync-bot@github.com"

        git add .
        git commit -m "Auto sync from source repo (test)" || echo "No changes"

        git push origin release2
