name: Sync Code to Deploy Repo

on:
  push:
    branches:
      - test
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:

    # Clone Repo1 (Source) into /source
    - name: Checkout Source Repo
      uses: actions/checkout@v4
      with:
        path: source

    # Clone Repo2 (Target) into /target
    - name: Checkout Target Repo
      uses: actions/checkout@v4
      with:
        repository: jayakrishna2455/test2   # Repo2
        token: ${{ secrets.TARGET_REPO_TOKEN }}
        ref: release2
        path: target

    # Copy files (exclude protected ones)
    - name: Sync Files (Exclude Protected)
      run: |
        rsync -av --delete \
          --exclude='.github/' \
          --exclude='.env' \
          --exclude='secrets/' \
          --filter='P .github/' \
          source/ target/

    # Commit & Push in Repo2
    - name: Commit and Push
      run: |
        cd target

        git config user.name "sync-bot"
        git config user.email "sync-bot@github.com"

        git add .
        git commit -m "Auto sync from Repo1 (test branch)" || echo "No changes"

        git push origin release2
